{{#extends 'base'}}

{{#block 'content'}}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Plot</th>
            <th>Modify</th>
        </tr>
    </thead>
    {{#each movies}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.plot}}</td>
        <td>
            <a href="/movie/edit/{{this.id}}" class="btn btn-primary btn-sm">Edit</a>
            <a href="/movie/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>


{{/block}}
{{/extends}}